*{
    padding: 0;
    margin: 0;
    font-family : sans-serif;
}
#demo{
    background-color :gold
}


.carousel-caption{
    text-decoration: none;
    color: red;   
}
h3{
    text-transform: uppercase;
    text-align: center;
    color: darkgoldenrod
}
h4{
    text-transform: uppercase;
    text-align: center;
    color:greenyellow
}
